/* HEADER */

.header {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 0 20px;
  box-sizing: border-box;
}

.header-content {
  max-width: 1280px;
  min-height: 120px;
  height: auto;
  padding: 20px 0px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

.rmdb-logo {
  width: 100px;
  margin-left: -20px;
  float: left;
  padding: 10px;
}

.tmdb-logo {
  margin-top: 10px;
  width: 80px;
  float: right;
}

@media screen and (max-width: 500px) {
  .header-content {
    max-width: 1280px;
    min-height: 0px;
  }

  .tmdb-logo {
    display: inline-block;
    width:80px;
    margin-top: 0px;
  }

  .rmdb-logo {
    width: 100px;
    margin-top: 5px;
  }
}
